<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-bottom">
    <div class="container-fluid">

      <div class="navbar-brand text-white d-block fs-1 ms-5">
        <img src="../../../assets/Images/download.jpeg" alt="" width="50" height="50" class="d-inline-block align-top">
        <span>FestBus</span>
      </div>

     <!-- Hamburger Menu Button -->
     <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>

      <!-- Navbar Menu Items -->
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav mx-auto mb-2 mt-lg-5">
          
          <li class="nav-item text-center mx-4">
            <a class="nav-link text-white icon-hover" href="home">
              <div class="d-block">
                <i class="fas fa-home fa-2x icon-green"></i> <br>
                <span>Home</span>
              </div>
            </a>
          </li>
          <li class="nav-item text-center mx-4">
            <a class="nav-link text-white icon-hover" href="search">
              <div class="d-block">
                <i class="fas fa-search fa-2x icon-green"></i> <br>
                <span>Search</span>
              </div>
            </a>
          </li>
          <li class="nav-item text-center mx-4">
            <a class="nav-link text-white icon-hover" href="route">
              <div class="d-block">
                <i class="fas fa-route fa-2x icon-green"></i> <br>
                <span>Route Info</span>
              </div>
            </a>
          </li>
          <li class="nav-item text-center mx-4">
            <a class="nav-link text-white icon-hover" href="bus-info">
              <div class="d-block">
                <i class="fas fa-bus fa-2x icon-green"></i> <br>
                <span>Bus Info</span>
              </div>
            </a>
          </li>
          <li class="nav-item text-center mx-4">
            <a class="nav-link text-white icon-hover" href="report">
              <div class="d-block">
                <i class="fas fa-exclamation-circle fa-2x icon-green"></i> <br>
                <span>Report</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>