.container-fluid {
  background-color: #013220;
  min-height: 100vh;
}

/* Navbar Brand */
.navbar-brand span {
  display: inline-block; /* Allow for transform on hover */
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
}

.navbar-brand:hover {
  color: #FFD700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.location-section h3 {
  color: #004d40;
  font-weight: bold;
}

.search-form-container {
  background-color: #1c3f3f;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: auto;
}

.form-control-lg {
  border-radius: 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styling for search suggestions to appear below input without shifting */
ul.list-group {
  position: absolute;
  top: 100%;
  z-index: 10;
  background-color: #ffffff;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.btn-primary {
  background-color: blue;
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #004d40;
}

.journey-card {
  background-color: #f1f8e9;
  color: #33691e;
}

.btn-outline-secondary {
  color: #00796b;
  border-color: #00796b;
}
.history-icon {
  width: 50px;
  height: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
}

.history-icon:hover {
  background-color: #00796b;
  color: #fff;
}

.btn-outline-secondary:hover {
  background-color: #00796b;
  color: #fff;
}
