.navbar-brand {
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    cursor: pointer; /* Change cursor to pointer for better UX */
  }
  
  .navbar-brand span {
    display: inline-block; /* Allow for transform on hover */
    font-style: italic;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  /* Hover effect */
  .navbar-brand:hover {
    color: #FFD700; /* Change color on hover (gold) */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow */
    transform: scale(1.1); /* Slightly increase the size */
  }